<html lang="ko" ng-app="DBPapp">
 <head>

    <!-- Angular Material CSS now available via Google CDN; version 1.0.0-rc4 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc4/angular-material.min.css">
    <link rel="stylesheet" href="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css')}}">

  </head>
  <body layout="column" ng-controller="AdminController">
  
  <md-toolbar class="md-menu-toolbar">
    <div layout="row">
      <md-toolbar-filler layout layout-align="center center">
        <md-icon md-svg-icon="call:chat"></md-icon>
      </md-toolbar-filler>
      <div>
        <h2 class="md-toolbar-tools">Database Term Project: &nbsp; PostgreSQL 조 - 관리자 패널</h2>
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              태스크관리
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="shownewtask()">
                  새로운 태스크
                </md-button>
              </md-menu-item>
              <md-menu-item>
                  <md-button ng-click="showtasks()">태스크 보기</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              회원관리
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="shownewuser()">
                  새로운 회원
                  <span class="md-alt-text"></span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="showusers()">
                  회원 보기
                  <span class="md-alt-text"></span>
                </md-button>
              </md-menu-item>
              
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              기타
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="logout()">
                  로그아웃
                  <span class="md-alt-text"> </span>
                </md-button>
              </md-menu-item>
          
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>
  <md-content ng-if="menu=='home'" class="page-container" flex>
    
  </md-content>
 <md-content ng-if="menu=='newtask'" class="page-container" flex>
    <div class="page">
      <h1>새로운 태스크</h1>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>태스크 이름</label>
          <input ng-model="task.name">
        </md-input-container>
        <md-input-container flex>
          <label>Prefix</label>
          <input ng-model="task.prefix">
        </md-input-container>
        <md-input-container flex>
          <label>주기(일)</label>
          <input ng-model="task.duration">
        </md-input-container>
      </div>
      <md-input-container class="md-block">
        <label>설명</label>
        <textarea ng-model="task.information" columns="1" md-maxlength="150" rows="5"></textarea>
      </md-input-container>
      
      <md-chips
        ng-model="task.schemas"
        placeholder="+ 스키마 입력"
        delete-button-label="스키마 삭제"
        delete-hint="스키마 삭제"
        secondary-placeholder="스키마 추가"  md-transform-chip="newSch($chip)">
      <md-chip-template>
        <span>
        {%raw%}
          <strong>{{$chip.name}}</strong>
          <em>({{$chip.type}})</em>
        {%endraw%}
        </span>
      </md-chip-template>







        </md-chips>
    
      <div layout="row" layout-sm="column" >
        <md-button flex="50" class="md-raised" ng-click="resetTaskForm()">초기화</md-button>
        <md-button flex="50" class="md-raised md-primary" ng-click="submitTaskForm()">제출</md-button>
      </div>
    </div>
    
  </md-content>
  <md-content ng-if="menu=='newuser'" class="page-container" flex>
    <div class="page">
      <h1>새로운 사용자</h1>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>사용자 아이디</label>
          <input ng-model="user.loginid">
        </md-input-container>
        <md-input-container flex>
          <label>사용자 비밀번호</label>
          <input ng-model="user.password">
        </md-input-container>
        <md-input-container flex>
          <label>사용자 이름</label>
          <input ng-model="user.name">
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>성별</label>
          <md-select ng-model="user.gender">
            <md-option ng-repeat="gender in ['남자','여자']" value="{{gender | angular}}">
              {{gender | angular}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex>
          <label>전화번호</label>
          <input ng-model="user.cellphone">
        </md-input-container>
        <md-input-container flex>
          <label>역할</label>
          <md-select ng-model="user.role">
            <md-option ng-repeat="role in ['제출자','평가자']" value="{{role | angular}}">
              {{role | angular}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-datepicker ng-model="user.birth" md-placeholder="생년월일"></md-datepicker>
      </div>

      <md-input-container class="md-block">
        <label>주소</label>
        <textarea ng-model="user.address" columns="1" md-maxlength="255" rows="5"></textarea>
      </md-input-container>
    
      <div layout="row" layout-sm="column" >
        <md-button flex="50" class="md-raised" ng-click="shownewuser()">초기화</md-button>
        <md-button flex="50" class="md-raised md-primary" ng-click="newuser()">제출</md-button>
      </div>
    </div>
    
  </md-content>
    <div ng-if="menu=='users'" class="page-container" flex style="height:600px;">
    <div  class="pagewide" >
      <h1>사용자 목록</h1>
      
        <div layout="row" >
          <md-content flex="30" layout-fill>
          <md-input-container md-no-float layout-padding>
         <input ng-model="usersearch" type="text" placeholder="검색">
        </md-input-container>
            <md-list>
              <md-list-item class="md-3-line" ng-repeat="user in userlist | filter:usersearch" ng-click = "showuser(user.id)">
                <div class="md-list-item-text" layout="column">

                  <h3>{{ user.name  | angular}} ({{ user.loginid  | angular}})</h3>
                  <p>{{ user.role | angular}}</p>
               </div>
              </md-list-item>
            </md-list>
          </md-content>
          <md-content  flex layout-fill>
          <md-tabs class="" md-align-tabs="" layout-fill>
            <md-tab id="tab1">
              <md-tab-label>사용자 정보</md-tab-label>
              <md-tab-body>

            <h2>사용자 정보</h2>
            <div layout="row" layout-sm="column">
              <md-input-container flex>
                <label>사용자 아이디</label>
                <input ng-model="user.loginid" disabled>
              </md-input-container>
              <md-input-container flex>
                <label>사용자 비밀번호</label>
                <input ng-model="user.password">
              </md-input-container>
              
            </div>
            <div layout="row" layout-sm="column">
              <md-input-container flex>
                <label>사용자 이름</label>
                <input ng-model="user.name">
              </md-input-container>
              <md-input-container flex>
                <label>성별</label>
                <md-select ng-model="user.gender">
                  <md-option ng-repeat="gender in ['남자','여자']" value="{{gender | angular}}">
                    {{gender | angular}}
                  </md-option>
                </md-select>
              </md-input-container>
             </div>
             <div layout="row" layout-sm="column" >
              <md-input-container flex>
                <label>전화번호</label>
                <input ng-model="user.cellphone">
              </md-input-container>
              <md-input-container flex>
                <label>역할</label>
                <input ng-model="user.role" disabled>
                </md-select>
              </md-input-container>
              
            </div>
            <md-datepicker ng-model="user.birth" md-placeholder="생년월일"></md-datepicker>
            <md-input-container class="md-block">
              <label>주소</label>
              <textarea ng-model="user.address" columns="1" md-maxlength="255" rows="5"></textarea>
            </md-input-container>
            <h4>참여중인 태스크</h4>
            <ul>
              <li ng-repeat="task in user.tasks" >{{ task.name  | angular}} ({{ task.parsednum  | angular}} 개/{{ task.tasknum  | angular}} 개)</li>
            </ul>
            <div layout="row" layout-sm="row" >
              <md-button flex class="md-raised md-primary" ng-click="edituser()">수정</md-button>
            </div>
            
            </md-tab-body>
            </md-tab>
            <md-tab id="tab2" md-on-select ="showuserparseds(user.id)" >
              <md-tab-label>파싱 데이터 시퀀스 파일 보기</md-tab-label>
              <md-tab-body>

              <md-data-table-container flex>
                  <table md-data-table class="md-primary" md-progress="deferred">
                    <thead md-order="psquery.order">
                      <tr>
                        <th name = "다운로드"> </th>
                        <th order-by="original" name="원본데이터타입"style="max-width : 40px"></th>
                        <th  order-by="submitter" name="제출자" style="max-width : 30px"></th>
                        <th numeric order-by="nth" name="회차 수" style="max-width : 10px"></th>
                        <th  order-by="status" name="상태" style="max-width : 20px"></th>
                        <th numeric order-by="tuplenum" name="튜플 수" style="max-width : 10px"></th>
                        <th numeric order-by="duplicatetuplenum" name="중복 수" style="max-width : 20px"></th>
                        <th numeric order-by="score" name="점수" style="max-width : 10px"></th>
                        <th  order-by="duration_start" name="시작일" style="max-width : 15px"></th>
                        <th  order-by="duration_end" name="종료일" style="max-width : 15px"></th>
                        <th  order-by="pnp" name="P/NP" style="max-width : 20px"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="psd in parsedlist | orderBy: psquery.order">
                        <td><a href = "/evaluator/getfile/{{task.prefix | angular}}/{{psd.id | angular}}">link</a></td>
                        <td>{{psd.original | angular}}</td>
                        <td>{{psd.submitter | angular}}</td>
                        <td>{{psd.nth | angular}}</td>
                        <td>{{psd.status | angular}}</td>
                        <td>{{psd.tuplenum | angular}}</td>
                        <td>{{psd.duplicatetuplenum | angular}}</td>
                        <td>{{psd.score | angular}}</td>
                        <td>{{psd.duration_start | angular}}</td>
                        <td>{{psd.duration_end | angular}}</td>
                        <td>{{psd.pnp | angular}}</td>
                      </tr>
                    </tbody>
                  </table>
                </md-data-table-container>



              </md-tab-body>

              </md-tab>
            </md-tabs>
            </md-content>
          </div>
        </div>
    </div>
    
  </div>
  <div ng-show="menu=='task'" class="page-container" flex style="height:600px;">
    <div  class="pagewide" >
      <h1>태스크 목록</h1>
      <div  layout="row" >
        <md-content flex="20" layout-fill>
          <md-list>
          <md-list-item class="md-3-line" ng-repeat="task in tasklist" ng-click = "showtask(task.prefix)">
          <div class="md-list-item-text" layout="column">

            <h3>{{ task.name  | angular}} ({{ task.prefix  | angular}})</h3>
            <h4>{{ task.duration | angular}}일</h4>
            <p>{{ task.information | angular}}</p>
          </div>
          </md-list-item>
          </md-list>



        </md-content>
        <div flex>
          <md-tabs class="" md-align-tabs="" layout-fill ng-show="task.prefix" md-selected="selectedIndex">
            <md-tab id="tab1">
              <md-tab-label>태스크 정보</md-tab-label>
              <md-tab-body>
                <md-content layout-fill>
                  <h2>{{task.name|angular}} ({{task.prefix|angular}})</h2>
                  <md-input-container flex>
                    <label>주기(일)</label>
                    <input ng-model="task.duration">
                  </md-input-container>
                  <md-input-container flex>
                  <label>상태</label>
                  <md-select ng-model="task.status" placeholder="상태" md-on-close="taskstatus(task.prefix, task.status)">
                    <md-option ng-value="status" ng-repeat="status in ['Collecting', 'Stop']">{{status | angular}}</md-option>
                  </md-select>
                  </md-input-container>

                  <md-input-container class="md-block">
                    <label>설명</label>
                    <textarea ng-model="task.information" columns="1" md-maxlength="150" rows="5"></textarea>
                  </md-input-container>
                  <md-list>
                    <md-list-item class="md-2-line numinfo" layout="row" layout-wrap>
                      <div class="md-item-text md-whiteframe-z1" flex>
                        <h3>원본데이터타입 수</h3>
                        <p>{{task.originalnum|angular}}</p>
                      </div>
                    </md-list-item>
                    <md-list-item class="md-2-line numinfo" layout="row" layout-wrap>
                      <div class="md-item-text md-whiteframe-z1" flex>
                        <h3>파싱데이터시퀀스 파일 수</h3>
                        <p>{{task.parsednum|angular}}</p>
                      </div>
                    </md-list-item>
                    <md-list-item class="md-2-line numinfo" layout="row" layout-wrap>
                      <div class="md-item-text md-whiteframe-z1" flex>
                        <h3>태스크 데이터 튜플 수</h3>
                        <p>{{task.tasknum|angular}}</p>
                      </div>
                    </md-list-item>
                  </md-list>
                </md-content>
              </md-tab-body>
            </md-tab>
            <md-tab id="tab2" md-on-select ="showsubmitters(task.prefix)">
              <md-tab-label>제출자 관리</md-tab-label>
              <md-tab-body>
              <h2>{{task.name|angular}} ({{task.prefix|angular}})에 제출자 신청을 한 사람 목록</h2>
                <md-data-table-container flex ="50">
                  <table md-data-table class="md-primary" md-progress="deferred">
                    <thead md-order="sbquery.order">
                      <tr>
                        <th numeric order-by="id" name="User#" style="max-width : 10px"></th>
                        <th order-by="name" name="이름"style="max-width : 50px"></th>
                        <th order-by="loginid" name="ID"style="max-width : 50px"></th>
                        <th norder-by="status" name="상태" style="max-width : 50px"></th>
                        <th numeric order-by="score" name="점수" style="max-width : 10px"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="submitter in submitters | orderBy: sbquery.order">
                        <td>{{submitter.id | angular}}</td>
                        <td>{{submitter.name | angular}}</td>
                        <td>{{submitter.loginid | angular}}</td>
                        <td>
                        <md-select ng-model="submitter.status" placeholder="상태" md-on-close="changestatus(submitter.id, submitter.status)">
                          <md-option ng-value="status" ng-repeat="status in ['Waiting', 'Approved', 'Refused' ]">{{status | angular}}</md-option>
                        </md-select>
                        </td>
                        <td>{{submitter.score | angular}}</td>
                      </tr>
                    </tbody>
                  </table>
                </md-data-table-container>
              </md-tab-body>
            </md-tab>
            <md-tab id="tab3" md-on-select ="showneworiginal()">
              <md-tab-label>새로운 원본 데이터 타입</md-tab-label>
              <md-tab-body>
                <h2>{{task.name|angular}} ({{task.prefix|angular}})의 새로운 원본 데이터 타입</h2>
                <div layout="row">
                <md-input-container flex>
                    <label>이름</label>
                    <input ng-model="original.name">
                </md-input-container>
                 <md-input-container flex>
                   <label>튜플의 길이</label>
                   <input type="number"  ng-model="original.length">
                 </md-input-container>
                 </div>
                 <h4>매핑 정보 (다음에 해당하는 위치 정보를 입력)</h4>
                 <div layout="row">
                   <md-input-container flex ng-repeat="col in original.schemas">
                    <label>{{col.label.name | angular}} ({{col.label.type | angular}})</label>
                    <input type="number"  ng-model="col.col">
                  </md-input-container>
                 </div>
                 <div layout="row" layout-sm="column" >
                   <md-button flex="50" class="md-raised" ng-click="showneworiginal()">초기화</md-button>
                   <md-button flex="50" class="md-raised md-primary" ng-click="submitNewOriginal()">제출</md-button>
                 </div>

              </md-tab-body>
            </md-tab>
            <md-tab id="tab4"  md-on-select ="showoriginals()">
              <md-tab-label>원본 데이터 타입 리스트</md-tab-label>
              <md-tab-body>
                <h2>{{task.name|angular}} ({{task.prefix|angular}})의 원본 데이터 타입 리스트</h2>
   
                   <md-data-table-container flex>
                  <table md-data-table class="md-primary" md-progress="deferred">
                    <thead md-order="orquery.order">
                      <tr>
                        <th order-by="name" name="이름"style="max-width : 50px"></th>
                        <th numeric order-by="length" name="길이" style="max-width : 10px"></th>
                        <th numeric order-by="parsednum" name="파싱데이터시퀀스파일 수" style="max-width : 15px"></th>
                        <th numeric order-by="tasknum" name="태스크 튜플 수" style="max-width : 10px"></th>
                        <th ng-repeat="sch in task.schemas" numeric name="{{ sch.name |angular}} ({{ sch.type |angular}})"style="max-width : 10px"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="ori in originallist | orderBy: orquery.order">
                        <td>{{ori.name | angular}}</td>
                        <td>{{ori.length | angular}}</td>
                        <td>{{ori.parsednum | angular}}</td>
                        <td>{{ori.tasknum | angular}}</td>
                        <td ng-repeat="map in ori.mapinfo">{{map | angular}}</td>
                      </tr>
                    </tbody>
                  </table>
                </md-data-table-container>
              </md-tab-body>
            </md-tab>
            <md-tab id="tab5" md-on-select ="showparseds()">
              <md-tab-label>파싱 데이터 시퀀스 파일 정보</md-tab-label>
              <h2>{{task.name|angular}} ({{task.prefix|angular}})의 파싱 데이터 시퀀스 파일</h2>
              <md-tab-body>
               <md-data-table-container flex>
                  <table md-data-table class="md-primary" md-progress="deferred">
                    <thead md-order="psquery.order">
                      <tr>
                        <th name = "다운로드"> </th>
                        <th order-by="original" name="원본데이터타입"style="max-width : 40px"></th>
                        <th  order-by="submitter" name="제출자" style="max-width : 30px"></th>
                        <th  order-by="evaluator" name="평가자" style="max-width : 30px"></th>
                        <th numeric order-by="nth" name="회차 수" style="max-width : 10px"></th>
                        <th  order-by="status" name="상태" style="max-width : 20px"></th>
                        <th numeric order-by="tuplenum" name="튜플 수" style="max-width : 10px"></th>
                        <th numeric order-by="duplicatetuplenum" name="중복 수" style="max-width : 20px"></th>
                        <th numeric order-by="score" name="점수" style="max-width : 10px"></th>
                        <th  order-by="duration_start" name="시작일" style="max-width : 15px"></th>
                        <th  order-by="duration_end" name="종료일" style="max-width : 15px"></th>
                        <th  order-by="pnp" name="P/NP" style="max-width : 20px"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="psd in parsedlist | orderBy: psquery.order">
                        <td><a href = "/evaluator/getfile/{{task.prefix | angular}}/{{psd.id | angular}}">link</a></td>
                        <td>{{psd.original | angular}}</td>
                        <td>{{psd.submitter | angular}}</td>
                        <td>{{psd.evaluator | angular}}</td>
                        <td>{{psd.nth | angular}}</td>
                        <td>{{psd.status | angular}}</td>
                        <td>{{psd.tuplenum | angular}}</td>
                        <td>{{psd.duplicatetuplenum | angular}}</td>
                        <td>{{psd.score | angular}}</td>
                        <td>{{psd.duration_start | angular}}</td>
                        <td>{{psd.duration_end | angular}}</td>
                        <td>{{psd.pnp | angular}}</td>
                      </tr>
                    </tbody>
                  </table>
                </md-data-table-container>
                
              </md-tab-body>
            </md-tab>
            <md-tab id="tab6" md-on-select ="showtupples()">
              <md-tab-label>태스크 데이터 정보</md-tab-label>
              <md-tab-body>
                <h2>{{task.name|angular}} ({{task.prefix|angular}})의 태스크 데이터 정보 (<a href="/admin/gettaskcsv/{{task.prefix|angular}}">CSV</a>)</h2>
                 <md-data-table-container flex>
                  <table md-data-table class="md-primary" md-progress="deferred">
                    <thead md-order="tpquery.order">
                      <tr>
                        <th order-by="submitter" name="제출자"></th>
                        <th order-by="{{ sch.name |angular}}" ng-repeat="sch in tupples.schema" name="{{ sch.name |angular}} ({{ sch.type |angular}})"style="max-width : 10px"></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="tp in tupples.tupple | orderBy: tpquery.order">
                        <td> {{tp.submittername | angular}}</td>
                        <td ng-repeat="sch in tupples.schema">{%raw%}{{tp[sch.name]}}{%endraw%}</td>
                      </tr>
                    </tbody>
                  </table>
                </md-data-table-container>
              </md-tab-body>
            </md-tab>
          </md-tabs>
        </div>
      </div>


    </div>
    
  </div>



    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 1.0.0-rc4 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc4/angular-material.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fileupload/ng-file-upload.min.js')}}"></script>
    <script src="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/admin.js')}}"></script>
  </body>

</html>