<html lang="ko" ng-app="DBPapp">
 <head>

    <!-- Angular Material CSS now available via Google CDN; version 1.0.0-rc4 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc4/angular-material.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css')}}">
    <link rel="stylesheet" href="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">
  </head>
  <body layout="column" ng-controller="EvaluatorContoller">
  
  <md-toolbar class="md-menu-toolbar">
    <div layout="row">
      <md-toolbar-filler layout layout-align="center center">
        <md-icon md-svg-icon="call:chat"></md-icon>
      </md-toolbar-filler>
      <div>
        <h2 class="md-toolbar-tools">Database Term Project: &nbsp; PostgreSQL 조 - 평가자 패널</h2>
        <md-menu-bar>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              평가
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="showevaluate()">
                  평가
                </md-button>
              </md-menu-item>
              <md-menu-item>
                  <md-button ng-click="showevaluatedone()">평가 기록</md-button>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              계정관리
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="showedituser()">
                  계정 정보 수정
                  <span class="md-alt-text"></span>
                </md-button>
              </md-menu-item>
              <md-menu-item>
                <md-button ng-click="showdeleteuser()">
                  회원 탈퇴
                  <span class="md-alt-text"></span>
                </md-button>
              </md-menu-item>
              
            </md-menu-content>
          </md-menu>
          <md-menu>
            <button ng-click="$mdOpenMenu()">
              기타
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-button ng-click="logout()">
                  로그아웃
                  <span class="md-alt-text"> </span>
                </md-button>
              </md-menu-item>
          
            </md-menu-content>
          </md-menu>
        </md-menu-bar>
      </div>
    </div>
  </md-toolbar>
  <md-content ng-if="menu=='home'" class="page-container" flex>
    
  </md-content>


  <div ng-if="menu=='evaluate'" class="page-container" flex style="height:600px;">
    <div  class="pagewide" >
      <h1>파싱 데이터 평가</h1>
      <div  layout="row" >
        <md-content flex="20" layout-fill>
          <md-list>
          <md-list-item class="md-3-line" ng-repeat="ps in parsedlist" ng-click = "showparsed(ps.taskprefix,ps.id)">
          <div class="md-list-item-text" layout="column">

            <h3>{{ ps.taskname  | angular}} ({{ ps.taskprefix  | angular}})</h3>
            <h4>{{ ps.original | angular}}</h4>
            <p>{{ ps.submitter | angular}}</p>
          </div>
          </md-list-item>
          </md-list>

        </md-content>


        <div flex layout="column" ng-if="parsed.id">

                  <h2>{{task.name|angular}} ({{task.prefix|angular}})에 제출한 {{parsed.name | angular}} 파일</h2>
                  <md-list>
                    <md-list-item class="md-2-line numinfo" layout="row" layout-wrap>
                      <div class="md-item-text md-whiteframe-z1" flex>
                        <h3>제출자</h3>
                        <p>{{parsed.submitter|angular}}</p>
                      </div>
                    </md-list-item>
                    <md-list-item class="md-2-line numinfo" layout="row" layout-wrap>
                      <div class="md-item-text md-whiteframe-z1" flex>
                        <h3>회차</h3>
                        <p>{{parsed.nth|angular}}</p>
                      </div>
                    </md-list-item>
                    <md-list-item class="md-2-line numinfo" layout="row" layout-wrap>
                      <div class="md-item-text md-whiteframe-z1" flex>
                        <h3>튜플 수</h3>
                        <p>{{parsed.tuplenum|angular}}</p>
                      </div>
                    </md-list-item>
                    <md-list-item class="md-2-line numinfo" layout="row" layout-wrap>
                      <div class="md-item-text md-whiteframe-z1" flex>
                        <h3>중복 튜플 수</h3>
                        <p>{{parsed.duplicatetuplenum|angular}}</p>
                      </div>
                    </md-list-item>
                    
                  </md-list>
                  

                  <md-list>
                    <md-list-item class="md-2-line numinfohalf" layout="row" layout-wrap>
                      <div class="md-item-text md-whiteframe-z1" flex>
                        <h3>기간</h3>
                        <p>{{parsed.duration_start|angular}} ~ {{parsed.duration_end|angular}}</p>
                      </div>
                    </md-list-item>
                    <md-list-item class="md-2-line numinfohalf" layout="row" layout-wrap>
                      <div class="md-item-text md-whiteframe-z1" flex>
                        <h3>CSV 파일</h3>
                        <p><a href = "/evaluator/getfile/{{ task.prefix | angular}}/{{ parsed.id | angular}}">다운로드</a></p>
                      </div>
                    </md-list-item>
      
                    
                  </md-list>
                  <h3>NULL 비율</h3>
                  <md-list>
                    <md-list-item class="md-2-line numinfo" layout="row" layout-wrap ng-repeat="nr in parsed.nullratio">
                      <div class="md-item-text md-whiteframe-z1" flex>
                        <h3>{{nr.name |angular}}</h3>
                        <p>{{nr.ratio |angular}}</p>
                      </div>
                    </md-list-item>
                    
                  </md-list>

                   <h3>평가 항목</h3>
                     <div layout ="row">
                      <div flex="10" layout layout-align="center center">
                        <span class="md-body-1">점수( {{eval.score |angular}} 점)</span>
                      </div>
                     <md-slider flex="35" min="0" max="10" ng-model="eval.score" aria-label="score" class>
                     </md-slider>
                     <md-checkbox ng-model="eval.pass" aria-label="pass" flex-offset="5">
                      Pass
                    </md-checkbox>
                   </div>
                   <div layout ="row" layout-padding layout-align="center">
                      <md-button flex="20" class="md-raised md-primary" ng-click="submitevaluate()">제출</md-button>
                    </div>

        </div>
      </div>


    </div>
    
  </div>
  <div ng-if="menu=='evaluatedone'" class="page-container" flex style="height:600px;">
    <div  class="pagewide" >
      <h1>파싱 데이터 평가 기록</h1>
      <div  layout="row" >
        <md-content flex layout-fill>
         <md-data-table-container>
            <table md-data-table class="md-primary" md-progress="deferred">
              <thead md-order="psquery.order">
                <tr>
                  <th order-by="submitter" name="제출자"></th>
                  <th order-by="original" name="원본데이터타입"></th>
                  <th numeric order-by="nth" name="회차"></th>
                  <th order-by="status" name="상태"></th>
                  <th order-by="pnp" name="P/NP"></th>
                  <th numeric unit="점" order-by="score" name="점수"></th>
                  <th numeric unit="개" order-by="tuplenum" name="튜플수"></th>
                  <th numeric unit="개" order-by="duplicatetuplenum" name="중복튜플수"></th>
                  <th order-by="duration_start" name="시작"></th>
                  <th order-by="duration_end" name="끝"></th>
                  
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="parsed in parsedlist | orderBy: psquery.order">
                  <td>{{parsed.submitter | angular}}</td>
                  <td>{{parsed.original | angular}}</td>
                  <td>{{parsed.nth | angular}}</td>
                  <td>{{parsed.status | angular}}</td>
                  <td>{{parsed.pnp | angular}}</td>
                  <td>{{parsed.score | angular}}</td>
                  <td>{{parsed.tuplenum | angular}}</td>
                  <td>{{parsed.duplicatetuplenum | angular}}</td>
                  <td>{{parsed.duration_start | angular}}</td>
                  <td>{{parsed.duration_end | angular}}</td>
                </tr>
              </tbody>
                  </table>
                </md-data-table-container>


        </md-content>
      </div>


    </div>
    
  </div>

  <md-content ng-if="menu=='edituser'" class="page-container" flex>
    <div class="page">
      <h1>정보 수정</h1>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>사용자 아이디</label>
          <input ng-model="user.loginid" disabled>
        </md-input-container>
        <md-input-container flex>
          <label>사용자 비밀번호</label>
          <input ng-model="user.password"  type="password">
        </md-input-container>
        <md-input-container flex>
          <label>사용자 이름</label>
          <input ng-model="user.name">
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>성별</label>
          <md-select ng-model="user.gender">
            <md-option ng-repeat="gender in ['남자','여자']" value="{{gender | angular}}">
              {{gender | angular}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex>
          <label>전화번호</label>
          <input ng-model="user.cellphone">
        </md-input-container>
        <md-input-container flex>
          <label>역할</label>
          <md-select ng-model="user.role" disabled>
            <md-option ng-repeat="role in ['제출자','평가자']" value="{{role | angular}}">
              {{role | angular}}
            </md-option>
          </md-select>
        </md-input-container>
        <div layout="column">
        <label class="md-caption">생년월일</label>
        <md-datepicker ng-model="user.birth" md-placeholder="생년월일"></md-datepicker>
        </div>
        
      </div>

      <md-input-container class="md-block">
        <label>주소</label>
        <textarea ng-model="user.address" columns="1" md-maxlength="255" rows="5"></textarea>
      </md-input-container>
    
      <div layout="row" layout-sm="column" >
        <md-button flex="50" class="md-raised" ng-click="showedituser()">초기화</md-button>
        <md-button flex="50" class="md-raised md-primary" ng-click="edituser()">수정</md-button>
      </div>
    </div>
    
  </md-content>
  <md-content ng-if="menu=='deleteuser'" class="page-container" flex>
    <div class="page">
      <h1>회원 탈퇴</h1>
      <p>회원을 탈퇴하시겠습니까?</p>
      <p>모든 제출된 정보는 지워집니다.</p>
      <md-button flex="50" class="md-raised md-primary" ng-click="deleteuser()">탈퇴</md-button>

    </div>
    
  </md-content>







 


    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 1.0.0-rc4 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc4/angular-material.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fileupload/ng-file-upload.min.js')}}"></script>
    <script src="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/evaluator.js')}}"></script>
  </body>

</html>