<html lang="ko" ng-app="DBPapp">
 <head>

    <!-- Angular Material CSS now available via Google CDN; version 1.0.0-rc4 used here -->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc4/angular-material.min.css">
    <link rel="stylesheet" href="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.css">

  </head>
  <body layout="column" ng-controller="HomeController">
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <md-button ng-click="vm.toggleSidenav('left')" hide-gt-sm class="md-icon-button">
        <md-icon aria-label="Menu" md-svg-icon="https://s3-us-west-2.amazonaws.com/s.cdpn.io/68133/menu.svg">
        </md-icon>
      </md-button>
      <h1>Database Term Project: &nbsp; PostgreSQL 조</h1>
    </div>
  </md-toolbar>
  <div layout="row" flex layout-padding>
    <md-sidenav layout="column" class="md-sidenav-left md-whiteframe-4dp" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
      <md-button ng-click="showhome()">홈</md-button>
      <md-button ng-click="showlogin()">로그인</md-button>
      <md-button ng-click="showjoin()">회원가입</md-button>
    </md-sidenav>

    <div layout="column" flex="50" id="content" ng-show="menu=='home'" layout-padding>
      <h1>Database Term Project: &nbsp; PostgreSQL 조</h1>
      <p>2013142157 윤원섭</p>
      <p>201 </p>
      <p>201 </p>
    </div>
    
  

    <div layout="column" flex="50" id="content" ng-show="menu=='login'">
      <md-card>
      <md-card-content>
        <h2 class="md-title">로그인</h2>
        <div layout layout-sm="column">
        <md-input-container flex>
          <label>아이디</label>
          <input ng-model="loginid">
        </md-input-container>
        <md-input-container flex>
          <label>비밀번호</label>
          <input ng-model="password">
        </md-input-container>
      </div>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button ng-click = "login()">로그인</md-button>
      </md-card-actions>
    </md-card>
    </div>
    

  <md-content ng-show="menu=='join'" class="page-container" flex layout-padding>
    <div class="page">
      <h1>회원가입</h1>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>사용자 아이디</label>
          <input ng-model="user.loginid">
        </md-input-container>
        <md-input-container flex>
          <label>사용자 비밀번호</label>
          <input ng-model="user.password">
        </md-input-container>
        <md-input-container flex>
          <label>사용자 이름</label>
          <input ng-model="user.name">
        </md-input-container>
      </div>
      <div layout layout-sm="column">
        <md-input-container flex>
          <label>성별</label>
          <md-select ng-model="user.gender">
            <md-option ng-repeat="gender in ['남자','여자']" value="{{gender | angular}}">
              {{gender | angular}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container flex>
          <label>전화번호</label>
          <input ng-model="user.cellphone">
        </md-input-container>
        <md-input-container flex>
          <label>역할</label>
          <md-select ng-model="user.role">
            <md-option ng-repeat="role in ['제출자','평가자']" value="{{role | angular}}">
              {{role | angular}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-datepicker ng-model="user.birth" md-placeholder="생년월일"></md-datepicker>
      </div>

      <md-input-container class="md-block">
        <label>주소</label>
        <textarea ng-model="user.address" columns="1" md-maxlength="255" rows="5"></textarea>
      </md-input-container>
    
      <div layout="row" layout-sm="column" >
        <md-button flex="50" class="md-raised" ng-click="showjoin()">초기화</md-button>
        <md-button flex="50" class="md-raised md-primary" ng-click="join()">제출</md-button>
      </div>
    </div>
    
  </md-content>
  </div>

    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>


    <!-- Angular Material Javascript now available via Google CDN; version 1.0.0-rc4 used here -->
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.0-rc4/angular-material.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/fileupload/ng-file-upload.min.js')}}"></script>
    <script src="http://rawgit.com/daniel-nagy/md-data-table/master/dist/md-data-table.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/home.js')}}"></script>
  </body>

</html>